<link rel="stylesheet" href="liste-maison.component.css">

<!-- AFFICHAGE LISTE DES MAISONS-->
<div class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <h2 class="h2">Liste des maisons :</h2>
      <div *ngif="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>

      <div *ngFor="let maison of maisons" class="col-md-3 maisons">
        <img class="card-img-top" src="{{maison.url}}" alt="image de la maison" style = "height:200px; width:300px; border-radius: 5px;"/>

        <h6 class="card-title"> Prix : {{maison.prix}} €</h6>
        <p class="card-text">{{maison.description}}</p>

        <a [routerLink]="[maison.id_maison]" id="plus">Plus</a>

      </div>
    </div>
  </div>
</div>
