/* FEUILLE DE STYLE POUR LE COMPONENT LISTE-MAISON */

.maisons {

  background-color: #DCDCDC;
  border : 1px solid black;
  border-radius: 10px;
  margin: 15px;
  padding : 20px;
  width: 345px;

}

#plus {

  color:black;
  padding : 10px;
  border-radius: 5px;
  border : 1px black solid;
  margin-top: 5px;

}

.div_liste {

  background-color: gainsboro;
  border-radius: 5px;
  width: 83%;

}

.titre_liste {
  margin-left: 15px;
}

.bouton_retirer {
  margin-top:15px;
  margin-left: 8%;
  margin-bottom: 10px;
}
