/* FEUILLE DE STYLE POUR LE COMPONENT RECHERCHE */

.maisons {

  background-color: #DCDCDC;
  border : 1px solid black;
  border-radius: 10px;
  margin-left : 25px;
  margin-top: 25px;
  padding : 20px;
  width: 345px;

}

#plus {

  color:black;
  padding : 10px;
  border-radius: 5px;
  border : 1px black solid;
  margin-top: 5px;

}
