<link rel="stylesheet" href="recherche.component.css">


<div class="container">

  <div class="container">
    <!-- FORMULAIRE DE RECHERCHE-->
    <form (ngSubmit)="rechercherMaisons(f)" #f="ngForm">
      <div class="form-group">
        <label for="nbPieces">
          Nombre de pièces
        </label>
        <input type="number" value=0 id="nbPieces" class="form-control" name="nbPieces" [(ngModel)]="recherche.nb_pieces" style="width: 25%;">
      </div>
      <div class="form-group">
        <label for="ville">
          Ville
        </label>

        <select [(ngModel)]="recherche.ville" id="ville">
          <option value=1 >Paris</option>
          <option value=2 >Lyon</option>
          <option value=3 >Marseille</option>
        </select>
      </div>
      <div class="form-group">
        <label for="surf_hab_min">
          Surface habitable minimale
        </label>
        <input type="number" id="surf_hab_min" class="form-control" name="surf_hab_min" [(ngModel)]="recherche.surface_hab_min" style="width: 25%;">
      </div>
      <div class="form-group">
        <label for="surf_jard_min">
          Surface du jardin minimale
        </label>
        <input type="text" id="surf_jard_min" class="form-control" name="surf_jard_min" [(ngModel)]="recherche.surface_jard_min" style="width: 25%;">
      </div>
      <div class="form-group">
        <label for="prix_max">
          Prix maximum
        </label>
        <input type="number" id="prix_max" class="form-control" name="prix_max" [(ngModel)]="recherche.prix_max" style="width: 25%;">
      </div>
      <div class="form-group">
        <input type="radio" id="sansvoi" name="voisin" value=0 [(ngModel)]="recherche.voisinage" checked>
        <label for="sansvoi">Sans voisin</label>

      </div>
      <div class="form-group">
        <input type="radio" id="voisi" name="voisin" value=1 [(ngModel)]="recherche.voisinage">
        <label for="voisi">Voisin</label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Rechercher</button>

    </form>
  </div>


  <!-- AFFICHAGE DE LA LISTE DES MAISONS TROUVEES-->
  <div class="container" *ngIf="maisons != []">
    <div class="row">
      <div class="container">

        <div *ngFor="let maison of maisons" class="col-md-3 maisons">
          <img class="card-img-top" src="{{maison.url}}" alt="image de la maison" style = "height:200px; width:300px; border-radius: 5px;"/>

          <h6 class="card-title"> Prix : {{maison.prix}} €</h6>
          <p class="card-text">{{maison.description}}</p>

          <a [routerLink]="[maison.id_maison]" id="plus">Plus</a>

        </div>
      </div>
    </div>
  </div>
</div>
