<!-- BARRE DE NAVIGATION -->
<nav class = "navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="accueil"><img src = "https://findicons.com/files/icons/1579/devine/256/home.png" alt="logo accueil" style="height: 20px; width: 20px;"/></a></li>
      <!--<li><a routerLink="accueil">Accueil</a></li>-->
      <li><a routerLink="liste">Liste</a></li>
      <li><a routerLink="recherche">Recherche</a></li>
      <li><a routerLink="authentification">Admin</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
